body{

  background: url(logo4.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  background-color: #000;
  color: red;

  }
p{font-size: 30px}

main{
  background: #0000005c:
  padding: 5px 40px;
  margin-top: 20px;
  border-radius: 10px;
}

.python, .logo2, .band-name, .headline{

  text-align: center;
}
.Contacts{
  margin: 50px 0;
  text-align: center;
  width: 100%;
}
.Contacts table{
  background: #0e0e2d;
  border-radius: 10px;
  padding: 50px;
  margin: 0 auto;

}
